body {
	font-family: 'Vollkorn', serif;
	background-color: #000;
	color: #FFF;
}

.hide{
	display: none;
}

.container{
	width: 1000px;
	height: 700px;
	margin: auto;
}

h1{
	letter-spacing: 3px;
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-style: italic;
	font-size: 150px;
	margin: 200px 0px 0px 0px;
}

p {
	width: 100%;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 400;
	text-transform: uppercase;
	animation:flash 4s infinite;
}

#placeholder{
	color: #000;
}

.book {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #6AFFCB;
}

#sentences{
	text-align: left;
	font-size: 12px;

}


@keyframes flash {
    0%   {opacity: 0;}
    25%  {opacity: 1;}
    50%  {opacity: 0;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}


